.DS_Store
node_modules
build
lib
dist
es
*.log
.idea
.metadata
*.iml
lerna-debug.log
coverage
errorShots
lerna-debug.log
.browser_modules
**/docs/api
package-backup.json
.history
.Trash-*
gh-pages
local-scripts
*.tsbuildinfo
.eslintcache
.umi
package-lock.json
.umi-production
yarn.lock
